@model web_ban_dien_thoai.Models.NhanVien

@{
    ViewBag.Title = "EditInfo";
    Layout = "~/Views/Admin/_ADLayout.cshtml";
}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 10px 10px 10px 10px;
        padding: 0;
        background-color: #f5f5f5;
    }

    h2 {
        text-align: center;
        margin-top: 20px;
    }

    table {
        margin: 20px auto;
        border-collapse: collapse;
        width: 80%;
        max-width: 800px;
        background-color: white;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
        width: 300px;
    }

        th:first-child, td:first-child {
            width: 30%;
        }

    a {
        text-decoration: none;
        color: #337ab7;
    }

    .dau-trang {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        border-radius: 50%;
        transition-duration: 0.4s;
        border: 2px solid #008CBA;
        cursor: pointer;
    }

        .dau-trang:hover {
            background-color: #008CBA;
            color: white;
        }

    .form-horizontal {
        max-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 90%;
    }

    .form-group {
        margin-bottom: 20px;
        max-width: 300px;
        flex: 1; /* Chia đều chiều rộng của các phần tử */
        margin-right: 10px; /* Tạo khoảng cách giữa các phần tử */
    }

        .form-group label {
            font-weight: bold;
            display: block;
        }

        .form-group:last-child {
            margin-right: 0; /* Loại bỏ khoảng cách ở phần tử cuối cùng */
        }

        .form-group .col-md-10 {
            padding: 0;
        }

        .form-group .form-control {
            width: 100%;
            padding: 8px 0px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
        }

            .form-group .form-control:focus {
                outline: none;
                border-color: #5cb3fd;
            }

        .form-group .text-danger {
            color: #d9534f;
        }

        .form-group input[type="submit"] {
            background-color: #5cb3fd;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .form-group input[type="submit"]:hover {
                background-color: #4390d8;
            }

        .form-group a.btn {
            background-color: #fff;
            color: #333;
            border: 1px solid #ccc;
            padding: 8px 16px;
            border-radius: 4px;
            text-decoration: none;
            display: inline-block;
            margin-right: 10px;
            transition: background-color 0.3s ease;
        }

            .form-group a.btn:hover {
                background-color: #f9f9f9;
            }
</style>


<div>
    </br>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Chỉnh sửa thông tin khách hàng</h4>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            Họ Tên Khách Hàng
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoTenNV, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HoTenNV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Địa Chỉ Khách Hàng
            <div class="col-md-10">
                @Html.EditorFor(model => model.DiachiNV, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiachiNV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Ngày Sinh
            @Html.EditorFor(model => model.Ngaysinh, new { htmlAttributes = new { @class = "form-control", type = "date" } })
            @Html.ValidationMessageFor(model => model.Ngaysinh, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            Giới Tính
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gioitinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gioitinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Số Điện Thoại
            <div class="col-md-10">
                @Html.EditorFor(model => model.DienthoaiNV, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DienthoaiNV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Email
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div></br></div>

